.Footer{
    width: 100%;
    min-height: 100px;
    //background-color: rgb(183, 181, 181);
    background-color: rgb(72, 58, 58);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 500px;
}